<div class="container">
    <div class="panel panel-default">
        <div class="panel panel-heading">
           <h2>Solicitud de taxi</h2>
        </div>
        <div class="panel panel-body">
            <form name="getTaxi" role="form"></form>
            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" ng-model="solicitud.Nombre" name="Nombre" required placeholder="Ingresa tu nombre" readonly />
            </div>
            <div class="form-group">
                <label for="Direccion">Direccion</label>
                <input type="text" class="form-control" ng-model="solicitud.Origen" name="Direccion" required placeholder="Ingresa tu domicilio" readonly />
            </div>
            <div class="form-group">
                <label for="Destino">Destino</label>
                <input type="text" class="form-control" ng-model="solicitud.Destino" name="Destino" required placeholder="Ingrese su destino" />
            </div>
            <button ng-click="getTaxiSuccess()" class="btn btn-success" type="submit">Solicitar</button>
            <button class="btn btn-danger">Cancelar</button>
        </div>
    </div>
</div>