<div class="container">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <h2>Aportacion Semanal</h2>
        </div>
        <div class="panel panel-body">
            <h3>Informe</h3>
            <ul>
                <li>Numero de Taxistas: {{Aportacion.NumeroTaxistas}}</li>
                <li>Aportación promedio: {{Aportacion.Promedio}}</li>
                <li>Total: {{Aportacion.Total}}</li>
            </ul>
        </div>
        <div class="panel panel-footer">
            <a href="#/Central" class="btn btn-link">Regresar a menu</a>
        </div>
    </div>
</div>