<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Servicio</th>
                <th>Unidad</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="Bitacora in Bitacoras">
                <td>{{Bitacora.Servicios}}</td>
                <td>{{Bitacora.Unidad}}</td>
                <td>{{Bitacora.Origen}}</td>
                <td>{{Bitacora.Destino}}</td>
                <td>{{Bitacora.Usuario}}</td>
            </tr>
        </tbody>
    </table>
    <a href="#/Central">Regresar al menu</a>
</div>