<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Direccion</th>
                <th>Nombre</th>
                <th>Telefono</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="User in Users">
                <td>{{User.Address.Calle}} {{User.Address.Colonia}}, {{User.Address.Delegacion}}</td>
                <td>{{User.Nombre}} {{User.ApellidoPaterno}} {{User.ApellidoMaterno}}</td>
                <td>{{User.Telefono}}</td>
            </tr>
        </tbody>
    </table>
    <a href="#/Central">Regresar al menu</a>
</div>