<div class="container">
    <h3>Bienvenido, Central &nbsp;<button class="btn btn-link" ng-click="CerrarSesion()">Cerrar Sesion</button></h3>
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1>Bitacora operativa</h1>
                <p class="lead">
                    Revise los ultimos registros realizados en la central.
                </p>
                <p><a class="btn btn-lg btn-success" href="#/Central/Bitacora" role="button">Revisar Bitacora Operativa</a></p>
            </div>

            <!-- Example row of columns -->
            <div class="row">
                <div class="col-lg-4">
                    <h2>Padron vehicular</h2>
                    <p>Puede visualizar los vehiculos registrados y sus taxistas</p>
                    <p><a class="btn btn-primary" href="#/Central/PadronVehicular" role="button">Ver Padron Vehicular &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <h2>Servicios</h2>
                    <p>Visualize un informe sobre los servicios ofrecidos</p>
                    <p><a class="btn btn-primary" href="#/Central/Servicios" role="button">Ver Servicios &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <h2>Clientes</h2>
                    <p>Una rapida informacion sobre los usuarios registrados</p>
                    <p><a class="btn btn-primary" href="#/Central/Clientes" role="button">Ver Clientes &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</div>