<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Unidad</th>
                <th>Cromatica</th>
                <th>Placas</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Servicio</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="Taxi in Taxis">
                <td>{{Taxi.Unidad}}</td>
                <td>{{Taxi.Cromatica}}</td>
                <td>{{Taxi.Placas}}</td>
                <td>{{Taxi.Nombre}}</td>
                <td>{{Taxi.Telefono}}</td>
                <td>{{Taxi.Servicio}}</td>
            </tr>
        </tbody>
    </table>
    <a href="#/Central">Regresar al menu</a>
</div>